# Frontend
VITE_API_URL=http://localhost:5000/api
VITE_GOOGLE_MAPS_API_KEY=

# Backend
PORT=5000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_MAPS_API_KEY=
CLIENT_URL=http://localhost:5173
FORECAST_API_URL=
